###########################################################
# This file activate UMI, 
# see http://subversion.lln.iba/repos/tc/alcyone/trunk/dev/pts-shared/umi/src/main/java/com/iba/pts/umi/package.html 
###########################################################
pts.umi.port=50700
pts.umi.host=umi-host
